body{
  background:
 linear-gradient(to right, rgb(3, 3, 26,0.6), rgba(5, 5, 41, 0.6))
  ,
  url('./background.jpeg');
  background-size: cover;  
  background-repeat: no-repeat;
  padding: .6rem;
  padding-bottom: 3.7rem;

}

.App {
    font-family: monospace;
    /* background-color: #F2DAC1; */
    background-color: white;
    margin: 1.5rem auto;
    padding:1rem;
    
  }
  h1{
    text-align: center;
    margin-bottom: 1.3rem;
    color: rgb(11, 11, 63);
  }
  .form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
    padding: 1rem;
  
  }
  .form input{
    padding: .7rem;
    font-size: 1rem;
    font-family: 'Courier New', Courier,monospace;
    font-weight: bold;
    color: #120B04;
    
  }
  input:hover,
  input:focus{
    outline:none;
  }
  
  
  .form button{
    width: fit-content;
    padding: .5rem 1rem;
    background-color: #3D3AF6;
    color: white;
  
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: .5rem;
  }
  .form button:hover,
  .form button:focus{
    opacity: .8;
  }

  .showPasswordLabel{
    display: flex;
    align-items: center;
    gap: .3rem;
  }
  
  
  #errorMessage{
    color: red;
    margin: .4rem .1rem;
    font-size: .9rem;
    transition: 1s ease-in-out;
  }
  .errorBorder{
    border-bottom:solid 2px red;
  }
  .emailSection{
    display: flex;
    flex-direction: column;
  }

  @media(min-width:650px){
    .App{
      width:60%;
      /* margin: 3rem auto; */
    }
  }
  @media(min-width: 960px){
    .App{
      width: 40%;
      /* padding: 1rem; */
      /* margin: 11rem auto; */
    }
    .form{
      padding: 2rem;
    }
  }
  
  
  